{% extends 'includes/header.html' %}

{% block body %}
<section id="tasks">
  <div class="ai-explore">
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <form method="POST" action="#" role="form">
                <!-- form -->
                <div class="form-group">
                  <h2 class="ai-explore-title">New Task</h2>
                  <hr>
                </div>
                <!-- Task name -->
                <p class="ai-field-header">Task name</p>
                <div class="form-group">
                  <input class="form-control" type="text" autocorrect="off" placeholder="Iris" name="task" value={{request.form.task}}>
                </div>
                 <!-- Description -->
                 <p class="ai-field-header">Description</p>
                <div class="form-group">
                  <textarea rows="4" class="form-control" id="" type="text" placeholder="A flower classification dataset." name="description" value={{request.form.description}}></textarea>
                </div>
                <!-- Tags -->
                <p class="ai-field-header">Tags</p>
                <div class="form-group">
                  <input class="form-control" type="text" autocorrect="off" placeholder="classifcation, MLP" name="tags" value={{request.form.tags}}>
                </div>
                <div class="form-group text-center">
                  <div class="row mt-5">
                    <div class="offset-md-2 col-md-4">
                      <button class="btn btn-info btn-block mt-1" onclick="clickAndDisable(this);loadSpinner();" type="submit" name="submit" value="cancel" >Cancel</button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-success btn-block mt-1" onclick="clickAndDisable(this);loadSpinner();" type="submit" name="submit" value="create">Create Task</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
