{% extends 'includes/header.html' %}

{% block body %}

<!-- Explore -->
<section id="explore">
  <div class="ai-explore">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <nav class="navbar ai-explore-bar navbar-expand-md navbar-light static-top">
            <div class="nav-item">
              <div class="ai-explore-title mr-3">Tasks</div>
            </div>
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav2"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav2">
              <ul class="navbar-nav ml-auto">
                <li>
                  <form class="form-inline my-2 my-lg-0">
                    <a href="/new_task" class="btn btn-sm btn-success form-group text-center" onclick="clickAndDisable(this);loadSpinner();" role="button"><i class="fas fa-plus mr-2" style="font-size:1em;"></i>New Task</a>
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive ai-scrollable-table">
                <table class="table table-hover table-outline table-vcenter card-table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="width: 20%;">Task</th>
                      <th scope="col" style="width: 30%;">Description</th>
                      <th scope="col" style="width: 15%;">Created</th>
                      <th scope="col" style="width: 15%;" class="text-center">Components</th>
                      <th scope="col" style="width: 10%;">Tags</th>
                      <th scope="col" style="width: 10%;" class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for task in tasks %}
                    <tr>
                      <td>
                        <div>
                          <a href="/task_details/{{ task_details[task]['task'] }}/">{{ task_details[task]["task"] }}</a>
                        </div>
                      </td>
                      <td>
                        <div>{{ task_details[task]["description"] }}</div>
                      </td>
                      <td>
                        <div>{{ task_details[task]["creation_time"] }}</div>
                      </td>
                      <td class="text-center">
                        <a href="/data/{{task_details[task]['task']}}/" class="badge badge-primary">Data</a>
                        <a href="/models/{{task_details[task]['task']}}/" class="badge badge-success">Models</a>
                      </td>
                      <td>
                        {% for i, tag in enumerate(task_details[task]["tags"]) %}
                          <span class="badge badge-secondary">{{ tag }}</span>
                        {% endfor %}
                      </td>
                      <td class="text-center">
                        <a class="btn btn-sm btn-danger text-white" data-toggle="modal" data-target="#delete_modal-{{task}}">Delete</a>
                      </td>
                      <!-- Delete modal -->
                      <div class="modal fade" id="delete_modal-{{task}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                              <button type="button" class="ai-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to permanently delete the <b>{{ task }}</b> task?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <a href="/delete_task/{{ task }}/" class="btn btn-danger" onclick="clickAndDisable(this);loadSpinner();">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}




