{% extends 'includes/header.html' %}

{% block body %}

<!-- Explore -->
<section id="explore">
  <div class="ai-explore">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <nav class="navbar ai-explore-bar navbar-expand-md navbar-light static-top">
            <div class="nav-item">
              <div class="ai-explore-title mr-3">Task Details </div>
            </div>
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav2"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav2">
              <ul class="navbar-nav ml-auto">
                <!-- <li>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search coming soon..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </li> -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="card">
            <div class="card-body">
              {% for key, val in task_details.items() %}
              <div><b>{{key}}</b>: {{val}}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}




