<div class="row">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="offset-md-2 col-md-8">
        <div class="alert alert-{{ category }} fade show mt-5" role="alert">
          <button type="button" class="ai-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          {% if category == "danger" %}
            <i class="fas fa-exclamation-triangle mr-2" style="font-size:1em;"></i>
          {% elif category == "success" %}
            <i class="fas fa-check mr-2" style="font-size:1em;"></i>
          {% elif category == "primary" %}
            <i class="far fa-bell mr-2" style="font-size:1em;"></i>
          {% endif %}

          {{ message }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
