<!-- NAVBAR -->
<div class="ai-navbar">
  <nav class="navbar navbar-expand-md navbar-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="ai-nav-logo-name" id="logo" src="/static/img/logo/icon-left-font.png"></a>
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item mt-2 mt-md-0">
            <a href="/" class="nav-link">Tasks</a>
          </li>
          <li class="nav-item mt-2 mt-md-0">
            <a href="" class="btn btn-sm btn-info updates-tooltip" data-toggle="tooltip" data-placement="bottom" data-title="We want to hear from you 🙂 (not just another email list).">GitHub</a>
          </li>
          <li class="nav-item mt-2 mt-md-0">
            <a href="mailto:letsexposeai@gmail.com?&subject=ExposeAI&body=Hi,%0A%0A%20%20%20%20%20Have%20any%20AI%20questions,%20suggestions,%20or%20just%20want%20to%20say%20hi%20%F0%9F%91%8B?%20Email%20us!%20We'd%20love%20to%20hear%20from%20you." class="btn btn-sm btn-success">Contact</a><br>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> <!-- ct-navbar -->
