
html, body {
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
}

/* NAVBAR */
.ai-navbar .navbar{
  background: #fff;
  /*border-top: 6px solid #467fcf;*/
  border-bottom: 1px solid #ebebeb;
}
.ai-navbar .navbar-brand{
  font-size: 1.5rem;
}
.ai-navbar li {
  font-size: 1.05rem;
}
.ai-nav-logo-name {
  width:auto;
  height:2rem;
}

/* EXPLORE */
.ai-explore {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
  padding-top:2.5rem;
  padding-bottom:3.5rem;
}
.ai-explore-title {
  font-size: 1.5rem;
  color: #413FBB;
}
.ai-explore .nav-tabs .nav-link {
  padding: 0.3rem;
}
.ai-explore-nav-tabs {
  margin-left:0.0rem;
}
.ai-explore-bar {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}
.ai-scrollable-menu {
  height: auto;
  max-height: 15rem;
  overflow-x: hidden;
}
.ai-scrollable-table {
  height: auto;
  max-height: 25rem;
  overflow-x: hidden;
}
.ai-field-header {
    margin-bottom: 0.4rem;
}


/* CTA */
.ai-cta {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #fff;
  background-color: #213752;
  padding-top:5rem;
  padding-bottom:5rem;
}
.ai-cta-update {
}
.ai-cta-update-bg {
  background-color:#2f4b6c;
  padding: 2rem;
  border-radius: 3px;
}
.ai-cta-update h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  font-weight: 550;
}
.ai-cta-update p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.ai-cta-share-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.ai-cta-share {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.ai-cta-share h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom:1.5rem;
}
.ai-cta-contact {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.ai-cta-contact h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.ai-cta-contact p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


/* FOOTER */
.ai-footer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #1c2f46;
  color: #fff;
  padding-top:2.5rem;
  padding-bottom:2.5rem;
}
.ai-footer p {
  font-size:1rem;
  margin-bottom: 0rem;
}
.ai-footer a {
  color: #fff;
  text-decoration: none;
}
.ai-footer a:hover {
  color: #ffc107;
}
.ai-footer-logo {
  width: 7rem;
  height: 1.5rem;
}


/* ERROR PAGE */
.ai-error-page {
  margin-top: 12rem;
}

/* MISCELLANEOUS */
.ai-left-align {
  text-align: left
}
/* Close button on modals gets messed up with tabler */
button.ai-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.ai-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}


/* Loading page */
.ai-loading-page {
  display:none;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#fff;
  opacity: 0.7;
  z-index:100;
}
/* Loading spinner */
.ai-loading-spinner {
  display:none;
  position:absolute;
  z-index: 101;
  width: 5rem;
  height: 5rem;
  top: calc(50vh - 3rem);
  left: calc(50vw - 2.5rem);
  border: 0.75rem solid #f3f3f3; /* Light grey */
  border-top: 0.75rem solid #467fcf; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ai-small-line {
  height: 0.15rem;
  width: 8rem;
  background: #467fcf;
  border-radius: .25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.0rem;
}

/* Pulse button */
.pulse-button {
  position: relative;
  border: none;
  box-shadow: 0 0 0 0 rgba(69,170,242, 0.7);
  background-color: #45aaf2;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite cubic-bezier(.66, 0, 0, 1);
  -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 1.2rem rgba(69,170,242, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 1.2rem rgba(69,170,242, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 1.2rem rgba(69,170,242, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 1.2rem rgba(69,170,242, 0);}}
